html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.ant-typography, .ant-btn, .ant-input, .ant-select, .ant-menu, .ant-table, .ant-card {
  font-family: "Pixelify Sans", sans-serif !important;
}